# Configuration file

~CONFIG_VERSION: v0.56.6

counters {
    I:lastGridStorage=34
    I:lastPlayer=1
}


gridstorage {
    S:28=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:29=H4sIAAAAAAAA/+NiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
}


orderedvalues {
    I:presses=16
}


players {
    I:9cc97115-8d4a-4133-b2fb-5c849ff93b8c=0
}


