# Configuration file

general {
    # Toggles the playing of the welcome sound when you load the world.
    B:playWelcomeSound=true

    # Sends a welcome message in the chat to each player joining.
    B:sendWelcomeMessage=true
}


miscellaneous {
    # Enable Blood
    B:blood=true

    # Allow Floobship Explosion
    B:floobShipExplode=false

    # Allow Floobs to Target Villagers
    B:floobTargetVillagers=true

    # Allow Bum Public Urination
    B:publicUrination=true

    # Enable Raygun Fire
    B:rayGunFire=true

    # Enable Raygun Melt
    B:rayGunMelt=true
}


spawn {
    # This setting controls the overall spawn rate. The spawn rate of every mob is multiplied by this number. So 0.5 is the default rate, 1.0 is 2x the rate, 0.25 is half the rate, etc.
    D:globalSpawnRate=0.75

    # This a list of Non-Vanilla biomes that More Creeps mobs should spawn in.
    S:nonVanillaBiomes <
     >

    # Setting this to true will cause More Creeps mobs to spawn in biomes added by other mods.
    B:spawnInNonVanillaBiomes=false
}


"spawn numbers" {
    I:armyGuySpawnAmt=1
    I:babyMummySpawnAmt=1
    I:bigBabySpawnAmt=4
    I:blackSoulSpawnAmt=1
    I:blorpSpawnAmt=3
    I:bubbleScumSpawnAmt=5
    I:bumSpawnAmt=3
    I:camelJockeySpawnAmt=1
    I:camelSpawnAmt=1
    I:cavemanSpawnAmt=1
    I:desertLizardSpawnAmt=4
    I:digBugSpawnAmt=3
    I:evilScientistSpawnAmt=3
    I:floobShipSpawnAmt=1
    I:floobSpawnAmt=5
    I:gSpawnAmt=3
    I:gooGoatSpawnAmt=3
    I:growbotGreggSpawnAmt=1
    I:guineaPigSpawnAmt=5
    I:hippoSpawnAmt=3
    I:horseHeadSpawnAmt=1
    I:hotdogSpawnAmt=5
    I:hunchbackSpawnAmt=2
    I:invisibleManSpawnAmt=2
    I:kidSpawnAmt=1
    I:lawyerFromHellSpawnAmt=3
    I:lollimanSpawnAmt=1
    I:mandogSpawnAmt=1
    I:mummySpawnAmt=1
    I:nonSwimmerSpawnAmt=1
    I:ponyGirlSpawnAmt=1
    I:preacherSpawnAmt=1
    I:robotTedSpawnAmt=2
    I:robotToddSpawnAmt=2
    I:rockMonsterSpawnAmt=1
    I:rocketGiraffeSpawnAmt=4
    I:sneakySalSpawnAmt=1
    I:snowDevilSpawnAmt=3
    I:thiefSpawnAmt=3
    I:zebraSpawnAmt=5
}


"tamed names" {
    # List of names that will be randomly chosen when a Camel is tamed.
    S:entityCamelNames <
        Stanley
        Cid
        Hunchy
        The Heat
        Herman the Hump
        Dr. Hump
        Little Lousie
        Spoony G
        Mixmaster C
        The Maestro
        Duncan the Dude
        Charlie Camel
        Chip
        Charles Angstrom III
        Mr. Charles
        Cranky Carl
        Carl the Rooster
        Tiny the Peach
        Desert Dan
        Dungby
        Doofus
     >

    # List of names that will be randomly chosen when a HotDog is tamed.
    S:entityHotDogNames <
        Pogo
        Spot
        King
        Prince
        Bosco
        Ralph
        Wendy
        Trixie
        Bowser
        The Heat
        Weiner
        Wendon the Weiner
        Wallace the Weiner
        William the Weiner
        Terrance
        Elijah
        Good Boy
        Boy
        Girl
        Tennis Shoe
        Rusty
        Mean Joe Green
        Lawrence
        Foxy
        SlyFoxHound
        Leroy Brown
        Mickey
        Holly
        Yeontan
     >

    # List of names that will be randomly chosen when a Pony is tamed.
    S:entityPonyNames <
        Chester
        Tugbert the Terrible
        Edward
        Prancer
        Paul
        Ralph
        Captain Sparkles
        Little Mo
        Percy
        Percival the Brave
        Sammy
        Thunderhoof
        Thunderbolt
        Bolt
        Benji
        Rasberry Ron
        Peter Sprinkles
        Captain Rainbow
        Chuckles
        Trigger
        Petuna
        Matilda
        Molly the Magnificent
        Betty
        Tom
        Caronline
        Hillary Hoof
        Paula
        Chaz
        Twinkletoes
        The Fortune Hunter
        Carl C Cluxton
        George
        Betty the Beast
        Nancy Neigh
        Susan Swift
        Claire De Lune
        L.A. Sizzle
        Bunwarmer
        Dirty Dutchess
        Pilar
        Gusty Dreams
        Guts and Glory
        Wiggler
        Shakin' Bacon
        Mr. Maniac
        Little Hoof
     >

    # List of names that will be randomly chosen when a Giraffe is tamed.
    S:entityRocketGiraffeNames <
        Rory
        Stan
        Clarence
        FirePower
        Lightning
        Rocket Jockey
        Rocket Ralph
        Tim
     >

    # List of names that will be randomly chosen when a Snow Devil is tamed.
    S:entitySnowDevilNames <
        Satan
        The Butcher
        Killer
        Tad
        Death Spanker
        Death Toll
        Bruiser
        Bones
        The Devil
        Little Devil
        Skinny
        Death to All
        I Will Hurt You
        Pierre
        Bonecruncher
        Bone Breaker
        Blood 'N Guts
        Kill Kill
        Murder
        The Juicer
        Scream
        Bloody Buddy
        Sawblade
        Ripper
        Razor
        Valley Strangler
        Choppy Joe
        Wiconsin Shredder
        Urinal
        Johnny Choke
        Annihilation
        Bloodshed
        Destructo
        Rub Out
        Massacre
        Felony
        The Mangler
        Destroyer
        The Marauder
        Wreck
        Vaporizer
        Wasteland
        Demolition Duo
        Two Knocks
        Double Trouble
        Thing One & Thing Two
        Wipeout
        Devil Duo
        Two Shot
        Misunderstood
        Twice As Nice
     >

    # List of names that will be randomly chosen when a Zebra is tamed.
    S:entityZebraNames <
        Stanley
        Cid
        Hunchy
        The Heat
        Herman the Hump
        Dr. Hump
        Little Lousie
        Spoony G
        Mixmaster C
        The Maestro
        Duncan the Dude
        Charlie Camel
        Chip
        Charles Angstrom III
        Mr. Charles
        Cranky Carl
        Carl the Rooster
        Tiny the Peach
        Desert Dan
        Dungby
        Doofus
     >

    # List of names that will be randomly chosen when a Guinea Pig is tamed.
    S:guineaPigNames <
        Sugar
        Clover
        CoCo
        Sprinkles
        Mr. Rabies
        Stinky
        The Incredible Mr. CoCoPants
        Butchie
        Lassie
        Fuzzy
        Nicholas
        Natalie
        Pierre
        Priscilla
        Mrs. McGillicutty
        Dr. Tom Jones
        Peter the Rat
        Wiskers
        Penelope
        Sparky
        Tinkles
        Ricardo
        Jimothy
        Captain Underpants
        CoCo Van Gough
        Chuck Norris
        PeeWee
        Quasimodo
        ZSA ZSA
        Yum Yum
        Deputy Dawg
        Henrietta Pussycat
        Bob Dog
        King Friday
        Jennifer
        The Situation
        Prince Charming
        Sid
        Sunshine
        Bubbles
        Carl
        Snowy
        Dorf
        Chilly Willy
        Angry Bob
        George W. Bush
        Ted Lange from The Love Boat
        Notch
        Frank
        A Very Young Pig
        Blaster
        Darwin
        Ruggles
        Chang
        Spaz
        Fluffy
        Fuzzy
        Charrlotte
        Tootsie
        Mary
        Caroline
        Michelle
        Sandy
        Peach
        Scrappy
        Roxanne
        James the Pest
        Lucifer
        Shaniqua
        Wendy
        Zippy
        Prescott Pig
        Pimpin' Pig
        Big Daddy
        Little Butchie
        The Force
        The Handler
        Little Louie
        Satin
        Sparkly Puff
        Dr. Chews
        Pickles
        Longtooth
        Jeffry
        Pedro the Paunchy
        Wee Willy Wiskers
        Tidy Smith
        Johnson
        Big Joe
        Tiny Mackeral
        Wonderpig
        Wee Wonderpig
        The Polish Baron
        Inconceivable
        Double Danny Dimples
        Jackie Jones
        Pistol
        Tiny Talker
        Strum
        Disco the Pig
        Banjo
        Fingers
        Clean Streak
        Little Sweet
        Fern
        Youngblood
        Lazy Cottonball
        Foxy
        SlyFoxHound
        Namjoon
        Seokjin
        Yoongi
        Hoseok
        Jimin
        Taehyung
        Jungkook
        Suga
        Jinnie
        Halsey
        Rose
        Lisa
        Jennie
        Jisoo
        Momo
        Mina
        Sana
        BamBam
        Yuna
        Soobin
        Solar
        Hwasa
        Hyuna
        DAWN
        Mini
        Kai
        GlockBoyKari
        Wonho
        ㅇㅅㅇ
        Joongie
        Sannie
        Jongho
        Mingi
        Wooyoung
        Yunho
        Hwa
        Yeosang
        Binnie
        Felix
        Chan
        Han
        MINO
        G-Dragon
        BOBBY
        Joshua
        Vernon
        Yuto
        Stan Loona
        Jannabi
        Irene
        Joy
        Mr. Chu
        Rap Monster
        ThreeToe
     >
}


worldgen {
    # Enable Castle Gen
    B:castleGen=true

    # Castle Rarity. Given as a percentage chance per chunk, so 0.1 = 0.1% chance per chunk.
    D:castleRarityChance=0.10000000149011612

    # Enable Jail
    B:jailActive=true

    # Enable Pyramid Gen
    B:pyramidGen=true

    # Pyramid Rarity. Given as a percentage chance per chunk, so 1 = 1% chance per Desert chunk.
    D:pyramidRarityChance=1.0
}


