# Configuration file

general {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client-only configs
    ##########################################################################################################

    client {

        ##########################################################################################################
        # debug
        #--------------------------------------------------------------------------------------------------------#
        # Configuration options for debugging vehicles
        ##########################################################################################################

        debug {
            # If true, the raytracer will be reloaded each tick.
            B:"Reload Raytracer Each Tick"=false

            # If true, the vehicle properties will be reloaded each tick.
            B:"Reload Vehicle Properties Each Tick"=false

            # If true, renders an outline of all the elements on a vehicle's model. Useful for debugging interactions.
            B:"Render Vehicle Outlines"=false
        }

        ##########################################################################################################
        # interaction
        #--------------------------------------------------------------------------------------------------------#
        # Configuration options for vehicle interaction
        ##########################################################################################################

        interaction {
            # If true, raytraces will be performed on nearby vehicles when left-clicking the mouse, rather than just right-clicking it. This allows one to be damaged/broken when clicking anywhere on it, rather than just on its bounding box.
            B:"Left-Click Enabled"=true
        }

        ##########################################################################################################
        # display
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for display related options
        ##########################################################################################################

        display {
            # If true, automatically switches to third person when mounting vehicles
            B:"Auto Perspective"=true

            # The amount of segments to use to render the hose on a gas pump. The lower the value, the better the performance but renders a less realistically looking hose
            # Min: 1
            # Max: 100
            I:"Hose Segments"=10

            # If true, displays a speedometer on the HUD when driving a vehicle
            B:"Show Speedometer"=true

            # If true, an animation is performed while cycling vehicles in the workstation
            B:"Workstation Animation"=true
        }

        ##########################################################################################################
        # controller
        #--------------------------------------------------------------------------------------------------------#
        # Configuration options for controller support (Must have Controllable install)
        ##########################################################################################################

        controller {
            # If true, will use the triggers on controller to control the acceleration of the vehicle.
            B:"Use Triggers"=false
        }

    }

    ##########################################################################################################
    # server
    #--------------------------------------------------------------------------------------------------------#
    # Server-only configs
    ##########################################################################################################

    server {
        # If true, players can pick up vehicles even if they are not the owner. If false (default), only owners can pick up their vehicles.
        B:"Allow Pickup Without Owner"=false

        # If true, bicycles will consume player hunger when riding, similar to sprinting. When false, bicycles will not consume hunger.
        B:"Bike Hunger Consumption"=true

        # Change the amount of fuel vehicles consumes by multiplying the consumption rate by this factor
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Fuel Consumption Factor"=1.0

        # If true, vehicles will require fuel for them to be driven.
        B:"Fuel Enabled"=true

        # If true, vehicles will require fuel for Electric Engines to be driven. If false - they will work without fuel. fuelEnabled must be set as true.
        B:"Fuel Enabled for Electric Engines"=false

        # The maximum distance before the hose from the gas pump or fluid hose breaks
        D:"Max Hose Distance"=6.0

        # Allows players to pick up vehicles by crouching and right clicking
        B:"Pickup Vehicles"=true

        # The amount of fluid a pipe will transfer each tick
        # Min: 1
        # Max: 2147483647
        I:"Pipe Transfer Amount"=50

        # The amount of fluid a pump will transfer each tick
        # Min: 1
        # Max: 2147483647
        I:"Pump Transfer Amount"=50

        # The distance threshold before the trailer detaches from a vehicle
        D:"Trailer Detach Distance"=6.0

        # The amount of ticks to wait before syncing trailer inventory to tracking clients. If the value is set to 0 or less, the inventory will not sync and will save on network usage.
        I:"Trailer Inventory Sync Cooldown"=20

        # The amount of ticks to wait before syncing data to clients about the trailer connection. This is important for smooth trailer movement on client side.
        I:"Trailer Sync Cooldown"=100

        # If true, vehicles will take damage.
        B:"Vehicle Damage"=true

        # If true, vehicles can perform wheelies when pressing W & S simultaneously and then releasing S. When false, this feature is disabled.
        B:"Wheelie Enabled"=true

        ##########################################################################################################
        # vehicles
        #--------------------------------------------------------------------------------------------------------#
        # Config for separate vehicle
        ##########################################################################################################

        vehicles {
            # Depends on value will enable/disable key system for ATV
            B:"ATV Key"=true

            # Depends on value will enable/disable key system for Aluminum Boat
            B:"Aluminum Boat Key"=true

            # Depends on value will enable/disable key system for Bumper Car
            B:"Bumper Car Key"=true

            # Depends on value will enable/disable key system for Dirt Bike
            B:"Dirt Bike Key"=true

            # Depends on value will enable/disable key system for Go Kart
            B:"Go Kart Key"=true

            # Depends on value will enable/disable key system for Golf Cart
            B:"Golf Cart Key"=true

            # Depends on value will enable/disable key system for Jet Ski
            B:"Jet Ski Key"=true

            # Depends on value will enable/disable key system for Lawn Mower
            B:"Lawn Mower Key"=true

            # Depends on value will enable/disable key system for Mini Bike
            B:"Mini Bike Key"=true

            # Depends on value will enable/disable key system for Mini Bus
            B:"Mini Bus Key"=true

            # Depends on value will enable/disable key system for Moped
            B:"Moped Key"=true

            # Depends on value will enable/disable key system for OffRoader
            B:"OffRoader Key"=true

            # Depends on value will enable/disable key system for SmartCar
            B:"SmartCar Key"=true

            # Depends on value will enable/disable key system for Speed Boat
            B:"Speed Boat Key"=true

            # Depends on value will enable/disable key system for Sports Plane
            B:"Sports Plane Key"=true

            # Depends on value will enable/disable key system for Tractor
            B:"Tractor Key"=true
        }

        ##########################################################################################################
        # collision_system
        #--------------------------------------------------------------------------------------------------------#
        # Collision system configuration
        ##########################################################################################################

        collision_system {
            # If true - collisions will damage other entities
            B:Collisions_Damage_Others=false

            # If true - collisions will damage players
            B:Collisions_Damage_Players=false

            # If true - collisions will damage vehicles
            B:Collisions_Damage_Vehicles=false

            # If true - collision system will be applied. If false - it will be working only for bumper cars, as in original
            B:Collisions_Enabled=false
        }

    }

}


